

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{$location.title}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__style__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__style__/style/admin.css" media="all">
  <link rel="stylesheet" href="/static/css/comm.css" media="all">
  <style>
    .none{ display: none !important;}
  </style>
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item">
        <form action="{if $Request.param.type!=''}{:url('/admin/zyhome/jrsh/type/'.$Request.param.type)}{else/}{:url('/admin/zyhome/jrsh/')}{/if}" method="get" class="layui-form">
          <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
              <input type="text" name="name" placeholder="请输入姓名" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
              <input type="text" name="phone1" placeholder="请输入电话" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">公司</label>
            <div class="layui-input-inline">
              <input type="text" name="company" placeholder="请输入电话公司" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn" lay-submit>搜索</button>
            <a class="layui-btn layui-btn-primary"  href="{if $Request.param.type!=''}{:url('/admin/zyhome/jrsh/type/'.$Request.param.type)}{else/}{:url('/admin/zyhome/jrsh/')}{/if}">清除搜索</a>
          </div>
        </form>
      </div>
    </div>
    <div style="padding: 20px 0 0px 10px;">
      <button class="layui-btn layuiadmin-btn-list" data-type="add" onclick="khadd()">客户添加</button>
    </div>
    <div class="layui-tab-content" style="">
      <div class="layui-tab-item layui-show">

        <form action="testdsdd.php" method="post" id="contentForm" name="contentForm" class="layui-form" onkeydown="if(event.keyCode==13) return false;">
          <input type="hidden" name="formcheck" value="3fe01cf13ff932fbeb101707d3b383b3">
          <table class="layui-table">
            <thead>
            <tr>
              <th><input type="checkbox" class="checkbox" lay-ignore="" id="checkall" title="全选" style="display: inline-block;"></th>
              <th>ID</th>
              <th>客户来源</th>
              <th>意向产品</th>
              <th>客户分类</th>
              <th>电话</th>
              <th>姓名</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='list'  key="k"}
            <tr>

              <td>
                <input type="checkbox" class="checkbox checkitem" lay-ignore="" name="list[]" value="{$list.id}" style="display: inline-block;">
                <input type="hidden" name="listall[]" value="116">
              </td>
              <td>{$list.id}</td>
              <td>{$list.Ksource}</td>
              <td>{$list.Kproduct}</td>
              <td>{$list.Ktype}</td>
              <td>{$list.phone1}</td>
              <td>{$list.name}</td>
              <td>
                <a href="javascript:;" onclick="edit({$list.id})" class="layui-btn layui-btn-xs" style="background: #2397d6;">详情</a>
                <a lay-href="/admin/kehu/gjIndex/khid/{$list.id}"  class="layui-btn layui-btn-xs" style="background: #14538a;">跟进记录</a>
                <a lay-href="/admin/kehu/fwIndex/khid/{$list.id}" class="layui-btn layui-btn-xs" style="background: #d22132;">服务记录</a>
                <a lay-href="/admin/kehu/orderIndex/khid/{$list.id}" class="layui-btn layui-btn-xs" style="background: #5c9009;">订单记录列表</a>
              </td>
            </tr>
            {/volist}
            </tbody>
          </table>
          <script>

          </script>

          <div class="page">
            {$page|raw}
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script src="__style__/layui/layui.js"></script>
<script src="/static/js/jquery1.42.min.js"></script>
<script>
  layui.config({
    base: '__style__/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table','form'], function(){
    var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

    //监听搜索
    form.on('submit(LAY-user-back-search)', function(data){
      var field = data.field;

      //执行重载
      table.reload('LAY-user-back-manage', {
        where: field
      });
    });


    //勾选方式选择全部
    $("#checkall").on("click", function () {
      if($(this).prop("checked")){
        $(".checkitem:enabled").prop("checked", true);
      }else{
        $(".checkitem").prop("checked", false);
      }

    })

    //监听搜索
    form.on('submit(LAY-app-contlist-search)', function(data){
      var field = data.field;
      console.log(field);
      return false;
      //执行重载
      table.reload('LAY-app-content-list', {
        where: field
      });
    });

  });
</script>
<script>
  //全选删除
  function setDelAction(){
    document.contentForm.action = "/admin/{$location.name}/delall";
    return confirm("您确定要删除选中的内容么？");
  }
  function edit(id) {
    //询问框
    layer.open({
      type: 2
      ,title: '信息修改'
      ,content: '/admin/kehu/edit/id/'+id
      ,maxmin: true
      ,area: ['550px', '400px']
      ,btn: ['确定', '取消']
      ,yes: function(index, layero){
        //点击确认触发 iframe 内容中的按钮提交
        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
        submit.click();
      }
    });
  }
  function del(id) {
    //询问框
    layer.confirm('是否确定删除？', {
      btn: ['确定','取消'] //按钮
    }, function(){
      $.ajax({
        url:"/admin/{$location.name}/del",
        type:'post',
        data: {id:id},
        dataType:"json",
        success:function(data){
          if(data==1){
            console.log(data);
            layer.alert("删除成功");
            setTimeout('window.location.reload()',1000);
          }
          else{
            layer.alert("删除失败！")
          }
        },
        error:function(e){
          layer.alert("提交失败！")
        }
      });
    });
  }
  function info(id) {
    //询问框
    layer.open({
      type: 2
      ,title: '客户详情'
      ,content: '/admin/{$location.name}/info/id/'+id
      ,maxmin: true
      ,area: ['550px', '600px']
      ,btn: ['确定', '取消']
      ,yes: function(index, layero){
        //点击确认触发 iframe 内容中的按钮提交
        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
        submit.click();
      }
    });
  }
  //客户添加
  function khadd() {
    //询问框
    layer.open({
      type: 2
      ,title: '客户添加'
      ,content: '/admin/{$location.name}/add/'
      ,maxmin: true
      ,area: ['1000px', '800px']
      ,btn: ['确定', '取消']
      ,yes: function(index, layero){
        //点击确认触发 iframe 内容中的按钮提交
        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
        submit.click();
      }
    });
  }

  //跟进记录添加
  function gjadd($khid) {
    //询问框
    layer.open({
      type: 2
      ,title: '跟进记录添加'
      ,content: '/admin/{$location.name}/gjadd/khid/'+$khid
      ,maxmin: true
      ,area: ['550px', '750px']
      ,btn: ['确定', '取消']
      ,yes: function(index, layero){
        //点击确认触发 iframe 内容中的按钮提交
        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
        submit.click();
      }
    });
  }

  //服务记录添加
  function fwadd($khid) {
    //询问框
    layer.open({
      type: 2
      ,title: '服务记录添加'
      ,content: '/admin/{$location.name}/fwadd/khid/'+$khid
      ,maxmin: true
      ,area: ['550px', '750px']
      ,btn: ['确定', '取消']
      ,yes: function(index, layero){
        //点击确认触发 iframe 内容中的按钮提交
        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
        submit.click();
      }
    });
  }

  //订单记录添加
  function orderadd($khid) {
    //询问框
    layer.open({
      type: 2
      ,title: '订单记录添加'
      ,content: '/admin/{$location.name}/orderadd/khid/'+$khid
      ,maxmin: true
      ,area: ['550px', '480px']
      ,btn: ['确定', '取消']
      ,yes: function(index, layero){
        //点击确认触发 iframe 内容中的按钮提交
        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
        submit.click();
      }
    });
  }


</script>
</body>
</html>

