

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href="__style__/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="__style__/style/admin.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="__style__/dtree/dtree.css?t=142568957" media="all">
    <link rel="stylesheet" href="__style__/dtree/font/dtreefont.css?t=142568957" media="all">

</head>
<body>

<div class="layui-form" id="layuiadmin-app-form-tags" lay-filter="layuiadmin-form-tags" style="padding: 20px 30px 20px 0; text-align: center;background-color:#fff">
    <div id="type_box">
        <!--存放身份信息-->
        <div class="layui-form-item">
            <label class="layui-form-label">学校选择</label>
            <div class="layui-input-block">
                <input type="text" name="school_name" value="" style="cursor: pointer" lay-verify="required" lay-reqText="请选择学校" placeholder="请选择学校" readonly class="layui-input" required>
                <input type="hidden" name="school_id" value="" required>
                <input type="hidden" name="area_id" value="" required>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年级</label>
        <div class="layui-input-block">
            <select name="grade_id" lay-filter="grade_id" lay-verify="required" id="grade_id">
                <option value="">选择年级</option>
                {volist name="grade" id="item"}
                <option value="{$item.id}" >{$item.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级数量</label>
        <div class="layui-input-inline" style="width: 300px;">
            <input type="number" name="number" lay-verify="required" placeholder="请输入班级数量" autocomplete="off" class="layui-input" value="">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input id="layuiadmin-app-form-submit" lay-filter="component-form-element" lay-submit type="button" value="确定">
    </div>
</div>

<script src="__style__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__style__/' //静态资源所在路径
    }).extend({  index: 'lib/index' //主入口模块
    }).use(['index', 'form','dtree'], function(){
        var $ = layui.$
            ,dtree = layui.dtree
            ,form = layui.form ;
        function openLayer(tplId,tpl,url,type) {
            layer.open({
                type:1,
                title:'选择'+(type == 1?'学校':'基地'),
                area:['400px','450px'],
                content:tpl,
                success:function(){
                    $.ajax({
                        url: url,
                        type:'post',
                        success:function(res){
                            dtree.render({
                                elem: "#"+tplId,
                                data: res.trees,
                                icon: "2",  //修改二级图标样式
                                checkbarType: "no-all", // 默认就是all，其他的值为： no-all  p-casc   self  only
                                checkbar: false  //开启复选框
                            });
                        }
                    });
                },
                btn: ['确定'],
                btnAlign:'c',
                yes: function(){
                    var check=dtree.getNowParam(tplId);
                    if(check.level < 4 && type == 1){
                        layer.msg('请选择学校');
                        return;
                    }
                    $('[name="'+(type == 1?'school_name':'base_name')+'"]').val(check.context);
                    if(type == 1){
                        $('[name=area_id]').val(check.parentId);
                        var school_id = check.nodeId.slice(1);
                        console.log(school_id);
                        $('[name=school_id]').val(school_id);
                    };
                    layer.closeAll();
                }
            })
        }
        function selectClass() {
            var tpl='<div style="width:382px; height:338px;overflow-y: auto;">\
						<div id="checkClass" style="padding:10px 0;"></div>\
					</div>';
            openLayer('checkClass',tpl,'/admin/common/getSchoolsDtrees',1);
        }

        function bindAction(inputName,type) {
            $('[name="'+inputName+'"]').on('click',function(){
                selectClass();
            });
        }


        bindAction('school_name',1);

        form.on('submit(component-form-element)', function(data) {
            //layer.msg(JSON.stringify(data.field));
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            data.field.grade_name = $("#grade_id option:selected").text()
            var d=data.field
            $.ajax({
                type: 'post',
                url: "{$url|default='/admin/classorgroup/class_padd'}",
                data: d,
                success: function(res) {
                    layer.msg(res.msg);
                    if(res.code === 1){
                        setTimeout(function () {
                            parent.location.reload(); //重载加载页面
                            parent.layer.close(index); //再执行关闭
                        },1000);
                    }
                },
                error:function(e){
                    layer.alert("提交失败！");
                    return false;
                }
            });
        });
    })
</script>
</body>
</html>