<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>密码修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__style__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__style__/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/css/comm.css" media="all">
    <script src="/static/js/jquery1.12.3.min.js"></script>
    <script src="/static/js/jquery.cookie.min.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        {if isset($pageName) and !empty($pageName)}
        <div class="layui-card-header layui-elem-quote">当前位置：<span class="line-text">{$pageName}</span></div>
        {/if}
        <div class="layui-tab-content layui--card-body" style="">
            <div class="layui-tab-item layui-show">
                <div class="layui-form" lay-filter="example">
                    <div class="layui-form-item"><label class="layui-form-label">原始密码</label>
                        <div class="layui-input-block">
                            <input type="text" name="password" autocomplete="off" placeholder="请输入原始密码"
                                   class="layui-input" required>
                        </div>
                    </div>
                    <div class="layui-form-item"><label class="layui-form-label">新密码</label>
                        <div class="layui-input-block">
                            <input type="text" name="repassword" placeholder="请输入新密码" autocomplete="off"
                                   class="layui-input" required>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit lay-filter="subPaw">确认修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__style__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__style__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , form = layui.form;
        form.on('submit(subPaw)', function (data) {
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            $.ajax({
                url: "/admin/member/password",
                type: 'post',
                data: field,
                dataType: "json",
                success: function (data) {
                    if (typeof data == String) {
                        data = JSON.parse(data)
                    }
                    if (data.code == 200) {
                        layer.alert("修改成功", function () {
                            $.removeCookie('name',{ path: '/'});
                            $.removeCookie('qx',{ path: '/'});
                            $.removeCookie('id',{ path: '/'});
                            $.removeCookie('tokenName',{ path: '/'});
                            parent.location.href="/admin/login"; //跳转登录页面
                        });
                        return false;
                    }
                    layer.alert("修改失败");
                },
                error: function (e) {
                    layer.alert("提交失败！");
                    return false;
                }
            });
        });
    })
</script>

</body>
</html>