

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__style__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__style__/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        </div>
        <div class="layui-card-body">
            <table id="user-task-list" lay-filter="user-task-list"></table>
            <script type="text/html" id="mode_tpl">
                {{ d.mode == 1 ? '<button class="layui-btn layui-btn-normal layui-btn-xs">必选项目</button>' : '<button class="layui-btn layui-btn-danger layui-btn-xs">达人项目</button>' }}
            </script>
            <script type="text/html" id="type_tpl">
                {{ d.type == 11 ? '<button class="layui-btn layui-btn-normal layui-btn-xs">家庭</button>' : (d.type == 12 ? '<button class="layui-btn layui-btn-normal layui-btn-xs">校内</button>' : (d.type == 13 ? '<button class="layui-btn layui-btn-normal layui-btn-xs">基地</button>' : (d.type == 21 ? '<button class="layui-btn layui-btn-normal layui-btn-xs">职业活动</button>' : (d.type == 22 ? '<button class="layui-btn layui-btn-normal layui-btn-xs">公益活动</button>' : '<button class="layui-btn layui-btn-danger layui-btn-xs">劳动大赛</button>')))) }}
            </script>
            <script type="text/html" id="progressTpl">
                <div class="layui-progress layuiadmin-order-progress" lay-showpercent="true" lay-filter="progress-"+ {{ d.id }} +"">
                <div class="layui-progress-bar" lay-percent= {{ d.progress }}></div>
                </div>
            </script>
            <script type="text/html" id="news_type_bar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view_answer"><i class="layui-icon layui-icon-edit"></i>答案反馈</a>
            </script>
        </div>
    </div>
</div>

<script src="__style__/layui/layui.js"></script>
<script>
    layui.config({
                     base: '__style__/' //静态资源所在路径
                 }).extend({
                               index: 'lib/index' //主入口模块
                           }).use(['index', 'table', 'element'], function(){
        var $ = layui.$
                ,form = layui.form
                ,element = layui.element
                ,table = layui.table;
        table.render({
            elem: '#user-task-list'
            , url: '/admin/user/type_task_list?id={$user_id}'
            , toolbar: false
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , title: ''
            , method: 'post'
            , cols: [[
                {field: 'id', title: 'ID', unresize: true}
                , {field: 'name', title: '名称'}
                , {field: 'start_date', title: '开始时间'}
                , {field: 'mode', title: '模式', templet: '#mode_tpl'}
                , {field: 'type', title: '类型', templet: '#type_tpl'}
                , {field: 'progress', title: '进度', templet: '#progressTpl'}
//                            ,{fixed: 'right', title:'操作', toolbar: '#news_type_bar'}
                        ]]
                         ,page: true
                         ,done: function(){
                            element.render('progress')
                        }
                     });
        //监听行工具事件
        table.on('tool(news_type)', function(obj){
            var data = obj.data;
            if(obj.event === 'view_answer'){
                var index = layer.open({
                                           type: 2
                                           ,title: '更新任务'
                                           ,content: '/admin/task/edit?id='+data.id
                                           ,area: ['450px', '270px']
                                           ,btn: ['确定', '取消']
                                           ,yes: function(index, layero){
                        doAction(index, layero);
                    }
                                       });
                layer.full(index);
            }
        });
    });
</script>
</body>
</html>